replicaCount: 3

image:
  repository: ghcr.io/arnav-nehra28/image-upscaling
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

env:
  # Dev-only: ML runs on host machine
  ML_API_URL: "http://host.docker.internal:8001/upscale"

ingress:
  enabled: false

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
